<link rel="stylesheet" href="/users/signup.css" />
<link rel="stylesheet" href="/modals/loginModal.css" />
<div
	class="modal fade"
	id="adminModal"
	tabindex="-1"
	aria-labelledby="adminModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="mb-1">Admin Login</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="signUp-form">
						<form
							action="/adminLogin"
							method="post"
							novalidate
							class="needs-validation"
						>
							<div class="mb-3 row">
								<div class="col-10">
									<input
										name="password"
										type="password"
										id="passwordx"
										placeholder="password"
										class="form-control mb-3"
										required
									/>
								</div>
								<div class="col-2">
									<a class="btn btn-outline-dark" id="togglePassword">
										<i class="fa-regular fa-eye toggleIcon"></i>
									</a>
								</div>
							</div>
							<button class="btn btn-outline-dark" type="submit">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document
		.getElementById("togglePassword")
		.addEventListener("click", function () {
			const passwordInput = document.getElementById("passwordx");
			const icon = document.getElementsByClassName("toggleIcon");

			// Toggle the type attribute
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				icon.classList.remove("fa-eye");
				icon.classList.add("fa-eye-slash"); // Change icon when password is visible
			} else {
				passwordInput.type = "password";
				icon.classList.remove("fa-eye-slash");
				icon.classList.add("fa-eye"); // Change icon when password is hidden
			}
		});
</script>
