<link rel="stylesheet" href="/includes/footer.css" />
<footer>
	<div class="f-info row">
		<div class="f-info-name col-md-3 mt-1">&copy; MealBridge Pvt.ltd</div>
		<div class="f-info-socialMedia col-md-3 mt-1">
			<a href="https://www.instagram.com/shashank_dsp_/"
				><i class="fa-brands fa-square-instagram"></i
			></a>
			<a
				href="https://www.linkedin.com/in/shashank-s-97aa2b309?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
				><i class="fa-brands fa-linkedin"></i
			></a>
			<a href="https://github.com/shanks-D-fury"
				><i class="fa-brands fa-github"></i
			></a>
		</div>
	</div>
</footer>
