<link rel="stylesheet" href="/includes/navbar.css" />
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><h2>MealBridge</h2></a>
		<button
			class="navbar-toggler btn btn-outline-dark"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fa-solid fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ms-auto me-3">
				<a class="nav-link dropdown-item ms-2" href="/"><b>Dashboard</b></a>
				<% if(!currentUser){ %>
				<div>
					<a
						class="nav-link dropdown-item ms-2"
						aria-current="page"
						href="/signup"
						><b>SignUp</b></a
					>
				</div>
				<div>
					<a class="nav-link dropdown-item ms-2" href="/login"><b>Login</b></a>
				</div>
				<% } %> <% if(currentUser){ %>
				<a
					type="button"
					class="dropdown-item nav-link mt-1 ms-2"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
				>
					<b>profile</b>
				</a>
				<a class="nav-link dropdown-item ms-2" href="/logout"><b>Logout</b></a>
				<% } %>
			</div>
		</div>
	</div>
</nav>
