<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/dashboard.css" />
<link rel="stylesheet" href="/elements/style.css" />
<body>
	<%- include("../modals/model.ejs") %> <%- include("../modals/adminModal.ejs")
	%>
	<main>
		<section>
			<div class="grid-container">
				<a href="/donate" style="text-decoration: none">
					<div class="cardcontainer">
						<h2>Donate Food</h2>
						<div class="card" id="c1">
							<img
								src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733723023/dd1_rbzp1v.jpg"
								alt="Donate Food"
							/>
						</div></div
				></a>
				<a
					class="button"
					type="button"
					data-bs-toggle="modal"
					data-bs-target="#adminModal"
					style="text-decoration: none"
				>
					<div class="cardcontainer">
						<h2>FoodBank Management</h2>
						<div class="card" id="c2">
							<img
								src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733723012/track_wjdivb.jpg"
								alt="FoodBank Management"
							/>
						</div></div
				></a>
				<a href="/recieve" style="text-decoration: none">
					<div class="cardcontainer">
						<h2>Volunteer Management</h2>
						<div class="card" id="c3">
							<img
								src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733723007/reciever_q6osz7.jpg"
								alt="Volunteer Management"
							/>
						</div>
					</div>
				</a>
				<a href="/fertilizer" style="text-decoration: none">
					<div class="cardcontainer">
						<h2>Fertilizers</h2>
						<div class="card" id="c4">
							<img
								src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733722991/fertilizer_rq5jf4.jpg"
								alt="Fertilizers"
							/>
						</div>
					</div>
				</a>
			</div>
		</section>
		<div class="sec2h2">
			<h2>Join our Fight against hunger</h2>
		</div>

		<div class="container">
			<div class="card-group">
				<div class="sec-card" style="width: 300px">
					<div class="card-img-container">
						<img
							class="card-img"
							src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733722977/donation_tkijet.webp"
						/>
					</div>
					<div class="card-body">
						<h2 class="card-title">Enhanced Inventory Management</h2>
						<div class="card-text">
							Implemented Real Time tracking system to manage food
							items,expiration dates,reducing wastes efficiently
						</div>
					</div>
				</div>
				<div class="sec-card" style="width: 300px">
					<div class="card-img-container">
						<img
							class="card-img"
							src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733722998/inventory_oqdf3z.webp"
						/>
					</div>

					<div class="card-body">
						<h2 class="card-title">Optimised Food Donation Process</h2>
						<div class="card-text">
							Developed matching algorithem to connect surplus food with nearby
							food banks based on needs and capacity
						</div>
					</div>
				</div>
				<div class="sec-card" style="width: 300px">
					<div class="card-img-container">
						<img
							class="card-img"
							src="https://res.cloudinary.com/duvvugmgx/image/upload/v1733723033/communication_fbm9ok.jpg"
						/>
					</div>
					<div class="card-body">
						<h2 class="card-title">Improved Communication System</h2>
						<div class="card-text">
							Established secure messaging for direct communication between
							restrautants and food banks ensuring timely reponses
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
