<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>2x2 Grid Layout</title>
		<link rel="stylesheet" href="/elements/dashboard.css" />
	</head>
	<body>
		<header>
			<nav class="navbar">
				<img src="/images/logo.png" alt="log" class="logo" />
				<h2>The MealBridge</h2>
				<a class="btn" href="/logout">LogOut</a>
			</nav>
		</header>
		<main>
			<section>
				<div class="grid-container">
					<div class="cardcontainer">
						<h2>Donation Food</h2>
						<div class="card" id="c1"></div>
					</div>
					<div class="cardcontainer">
						<h2>Track Inventory</h2>
						<div class="card" id="c2"></div>
					</div>
					<div class="cardcontainer">
						<h2>Recieve Food</h2>
						<div class="card" id="c3"></div>
					</div>
					<div class="cardcontainer">
						<h2>Fertilizers</h2>
						<div class="card" id="c4"></div>
					</div>
				</div>
			</section>

			<h2>Join our Fight against hunger</h2>
			<section class="infocontainer">
				<div class="infobox">
					<img src="/images/inventory.webp" alt="" />
					<h3>Enhanced inventory management</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Necessitatibus nesciunt numquam sequi facere ducimus eos ab,
						praesentium
					</p>
				</div>
				<div class="infobox">
					<img src="/images/donation.webp" alt="" />
					<h3>Optimized Food Donation Process</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Necessitatibus nesciunt numquam sequi facere ducimus eos ab,
						praesentium
					</p>
				</div>
				<div class="infobox">
					<img src="/images/communication.jpeg" alt="" />
					<h3>Improved Communication System</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Necessitatibus nesciunt numquam sequi facere ducimus eos ab,
						praesentium
					</p>
				</div>
			</section>
		</main>
	</body>
</html>
