<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/donar.css" />
<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
/>
<body>
	<div class="row">
		<div class="col-8 offset-2">
			<h3>Create New Listing</h3>
			<form
				action="/donate"
				method="post"
				novalidate
				class="needs-validation"
				id="productForm"
			>
				<div class="row mb-3">
					<div class="mb-2 col-md-6">
						<label for="price" class="form-price">No of Items</label>
						<input
							id="numProducts"
							placeholder=""
							type="number"
							class="form-control"
							min="1"
							max="10"
							required
						/>
						<div class="invalid-feedback">Please enter valid Number</div>
					</div>
				</div>
				<!-- Hidden fields for latitude and longitude -->
				<input type="hidden" name="latitude" id="latitude" />
				<input type="hidden" name="longitude" id="longitude" />
				<section>
					<button id="choose-location-btn">
						<img src="images/mapicon.svg" alt="" />
						Choose Location
					</button>
					<div id="overlay"></div>
					<div id="map-container">
						<div id="map"></div>
					</div>
				</section>
				<div id="productRows" class="mt-2"></div>
				<hr />
				<button class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
	<script src="/JS/donar.js"></script>
</body>
