<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/donar.css" />
<!-- Include Mapbox CSS and JS -->
<link
	href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
	rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.min.js"></script>
<link
	rel="stylesheet"
	href="https://unpkg.com/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css"
/>
<body>
	<div class="row">
		<div class="col-8 offset-2">
			<h3>Create New Listing</h3>
			<form
				action="/donate"
				method="post"
				novalidate
				class="needs-validation"
				id="productForm"
			>
				<div class="row mb-3">
					<div class="mb-2 col-md-6">
						<label for="price" class="form-price">No of Items</label>
						<input
							id="numProducts"
							placeholder=""
							type="number"
							class="form-control"
							min="1"
							max="10"
							required
						/>
						<div class="invalid-feedback">Please enter valid Number</div>
					</div>
				</div>
				<!-- Hidden fields for latitude and longitude -->
				<input type="hidden" name="latitude" id="latitude" />
				<input type="hidden" name="longitude" id="longitude" />
				<!-- Button to Choose Location -->
				<section>
					<button id="choose-location-btn">
						<img src="images/mapicon.svg" alt="" />
						Choose Location
					</button>
					<div id="overlay"></div>
					<div id="map-container">
						<div id="map"></div>
						<div class="select-loc-class">
							<button id="select-loc">Select</button>
						</div>
					</div>
				</section>
				<div id="productRows" class="mt-2"></div>
				<hr />
				<button class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
	<script>
		const mapToken = "<%= process.env.MAP_TOKEN %>";
	</script>
	<script src="/JS/donar.js"></script>
</body>
