<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/donar.css" />
<body>
	<div class="row">
		<div class="col-8 offset-2">
			<h3>Create New Listing</h3>
			<form action="/donate" method="post" novalidate class="needs-validation">
				<div class="row mb-3">
					<div class="col-md-6">
						<label for="category" class="form-category">FoodBank</label>
						<select name="" class="form-select" required>
							<option aria-selected="false">Select FoodBank</option>
							<!-- these are some example , but the options will by dynamic -->
							<option value="rooms">Rooms</option>
							<option value="cities">Cities</option>
							<option value="mountain">Mountain</option>
						</select>
					</div>
					<div class="mb-2 col-md-6">
						<label for="price" class="form-price">No of Items</label>
						<input
							id="numProducts"
							placeholder=""
							type="number"
							class="form-control"
							min="1"
							required
						/>
						<div class="invalid-feedback">Please enter valid Number</div>
					</div>
				</div>
				<div id="productRows"></div>
				<hr />
				<button class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
	<script src="/JS/donar.js"></script>
</body>
