<% layout("/layouts/boilerPlateNew.ejs") -%>
<body>
	<div class="row">
		<div class="col-6 offset-3">
			<h3>Create New foodBank</h3>
			<form action="/fb" method="post" novalidate class="needs-validation">
				<div class="mb-2">
					<label for="title" class="form-title">Title</label>
					<input
						name="foodBank[title]"
						placeholder="title"
						type="text"
						class="form-control"
						required
					/>
					<div class="invalid-feedback">Please enter valid Title</div>
				</div>
				<div class="row">
					<div class="mb-3 col-md-7">
						<label for="location" class="form-location">Location</label>
						<input
							name="foodBank[location]"
							placeholder="Bengaluru"
							type="text"
							class="form-control"
							required
						/>
					</div>
					<div class="mb-2 col-md-5">
						<label for="country" class="form-country">Country</label>
						<input
							name="foodBank[country]"
							placeholder="India"
							type="text"
							class="form-control"
							required
						/>
					</div>
				</div>
				<button class="btn btn-dark">Submit</button>
			</form>
		</div>
	</div>
</body>
