<%- layout("/layouts/boilerPlateNew.ejs") %>
<link rel="stylesheet" href="/elements/fertilizer.css" />

<body>
    <div class="wrapper d-flex flex-column min-vh-100">
        <div class="container mt-3">
            <h2>Available Manures</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="card p-4 mb-3">
                        <div class="d-flex justify-content-between mt-3 custom-borders">
                            <div>
                                <h5>
                                    Organic manure #123 <span class="badge badge-pending">booked</span>
                                </h5>
                                <p>1.5 miles away</p>
                            </div>
                            <div class="text-end">
                                <p>5 kg</p>
                                <button class="btn btn-accept">book</button>
                            </div>
                        </div>
                    </div>
                    <div class="card p-4 mb-3">
                        <div class="d-flex justify-content-between mt-3 custom-borders">
                            <div>
                                <h5>
                                    Organic manure #119  <span class="badge badge-pending">Available</span>
                                </h5>
                                <p>211.5 miles away</p>
                            </div>
                            <div class="text-end">
                                <p>15 kg</p>
                                <button class="btn btn-accept">book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
</body>

