<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/inventory.css" />
<body>
	<div class="container">
		<h2>Available Donations</h2>
		<div class="row">
			<div class="col-md-8">
				<% for(let fb of foodbanks) {%> <% if(fb.products.length!=0){ %>
				<div class="card p-4 mb-3">
					<div class="d-flex justify-content-between mt-3 custom-borders">
						<div>
							<h5><%=fb.title %></h5>
							<% for(let product of fb.products){ %>
							<p><%=product.itemName %></p>
							<% } %>
						</div>

						<div class="text-end">
							<br />
							<% for(let product of fb.products){ %>
							<p><%=product.quantity %></p>
							<% } %>
							<button class="btn btn-success">Accept Donation</button>
						</div>
					</div>
				</div>
				<% } %> <% } %>
			</div>
			<div class="col-md-4">
				<div class="quick-stats">
					<div class="card mb-3">
						<div class="card-body">
							<div>
								<span>123</span>
								<p>Total Donations</p>
							</div>
							<div>
								<span>123t</span>
								<p>Food Saved</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card card-large mb-3">
					<div class="card-body">
						<h5>Current Inventory</h5>
						<div class="inventory-search mb-4">
							<input
								type="text"
								class="form-control"
								placeholder="Search inventory..."
							/>
						</div>
						<table class="table w-190">
							<thead>
								<tr>
									<th>ITEM</th>
									<th>QUANTITY</th>
									<th>EXPIRY</th>
									<th>TIME LEFT</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Fresh Vegetables</td>
									<td>123 kg</td>
									<td>Nov 20</td>
									<td>1 day</td>
								</tr>
								<tr>
									<td>rice</td>
									<td>100 bowl</td>
									<td>Dec 15</td>
									<td>5 hours</td>
								</tr>
								<tr>
									<td>Bread</td>
									<td>30 loaves</td>
									<td>Nov 18</td>
									<td>2 days</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
