<link rel="stylesheet" href="/elements/map.css" />
<div class="col-12 col-sm-8 tab-border special-tab-border row mb-3">
	<div
		id="map<%=index %>"
		class="package-item col map"
		data-index="<%=index %>"
		data-package="<%= JSON.stringify(package) %>"
	></div>
</div>
