<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/elements/inventory.css" />
<body>
	<div class="container">
		<h2>Available Donations</h2>
		<div class="row">
			<div class="col-md-8">
				<% for(let package of packages) {%> <% if( !package.accepted){ %>
				<div class="card p-4 mb-3">
					<div class="d-flex justify-content-between mt-3 custom-borders">
						<div>
							<h5><%=package.donar.username %></h5>
							<% for(let product of package.products){ %> <%
							if(!product.expired){ %>
							<p><%=product.itemName %></p>
							<% } %> <% } %>
						</div>
						<div class="text-end">
							<br />
							<% for (let product of package.products) { %> <%
							if(!product.expired){ %>
							<p><%= product.quantity %></p>
							<% } %> <% } %>
							<form
								action="/foodbank/<%= package._id %>?_method=delete"
								method="POST"
							>
								<button class="btn btn-success">Book</button>
							</form>
						</div>
					</div>
				</div>
				<% }%> <% } %>
			</div>
		</div>
	</div>
</body>
