body{
	background:linear-gradient(skyblue,lightgreen);
	font-weight: 700;
}
label {
	font-size: larger;
}
.form-control:focus,
.form-select:focus {
	border-color: #5ba4f862;
	box-shadow: 0 0 5px 3px #5ba4f833;
}
.form-title::placeholder {
	color: #ff385c !important;
}

.row input::placeholder,
.row textarea::placeholder {
	opacity: 0.5;
}
#map-container {
	position: relative;
	display: none;  
	border-radius: 0.4rem;
}
#map {
	height: 400px;
	width: 100%;
	border: 1px solid #090101;
	border-radius: 0.4rem;

}
#choose-location-btn{
	padding:0.2rem;
	background-color: rgb(75, 154, 75);
	border-radius: 0.4rem;
	margin:0.4rem;
}

/* @media (max-width: 768px) {
	.form-select {
		width: 70%;
		font-size: 12.5px;
	}
} */
