* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 360;
	font-style: italic;
	/* display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #ddeeff; */
}
/* .container {
	flex: 1;
} */
body::-webkit-scrollbar {
	height: 8px;
	width: 0.65rem;
}
body::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #909090; /* Scrollbar color */
	border-radius: 10px; /* Rounded edges */
}

body::-webkit-scrollbar-thumb:hover {
	background: #6a6a6a; /* Darker on hover */
}
