*{
	padding: 0px;
	margin: 0px;
}
body{
	height: 100vh;

}
.navigate img{
	margin-right :100px;
}
header{
	background-image: url(https://media.istockphoto.com/id/1352758440/photo/paper-shopping-food-bag-with-grocery-and-vegetables.jpg?s=2048x2048&w=is&k=20&c=W0ymPk0eL2zS6mSlvU4sjPfrYVe-GlQG1HkBEYxJFk8=);
	
}
.navigate{
	display: flex ;  
	flex-direction: row ;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: 25px;
	
}
ul li a{
	color:rgb(27, 2, 2);
	text-decoration: none;
	color: whitesmoke;
}
ul li{
	font-size: larger;
	
}
.btncontainer {
    display: flex;
    flex-direction: row;
	column-gap: 250px;
	justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
h1{
	font-size: 65px;
	font-weight: 500;
	letter-spacing: normal;
	text-align: center;
	color:whitesmoke;
	padding-bottom: 60px;
	padding-top: 30px;
}
.sec1{
	display: flex ;  
	flex-direction: column ;
	justify-content: center;
	text-align: center;
	align-items: center;
}
h2{
	font-size:35px;
	padding: 25px 25px;
	color:rgba(62, 172, 180, 0.594);
}
p{
	font-size: 25px;
	padding: 5px 5px;
    color:rgb(80, 180, 173);
}