*{
	padding: 0px;
	margin: 0px;
}
body{
	height: 100vh;

}
.navigate img{
	margin-right :100px;
}
header{
	background-image: url(https://media.istockphoto.com/id/1352758440/photo/paper-shopping-food-bag-with-grocery-and-vegetables.jpg?s=2048x2048&w=is&k=20&c=W0ymPk0eL2zS6mSlvU4sjPfrYVe-GlQG1HkBEYxJFk8=);
	
}
.navigate{
	display: flex ;  
	flex-direction: row ;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: 25px;
	
}
ul li a{
	color:rgb(27, 2, 2);
	text-decoration: none;
	color: whitesmoke;
}
ul li{
	font-size: larger;
	
}
.btncontainer {
	padding: 20px 20px;
    display: flex;
    flex-direction: row;
	column-gap: 250px;
	justify-content: center;
}

.button {
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
h1{
	font-size: 65px;
	font-weight: 500;
	letter-spacing: normal;
	text-align: center;
	color:whitesmoke;
	padding-bottom: 60px;
	padding-top: 30px;
}
.sec1{
	display: flex ;  
	flex-direction: column ;
	justify-content: center;
	text-align: center;
	align-items: center;
}
h2{
	font-size:35px;
	padding: 25px 25px;
	color:rgba(62, 172, 180, 0.594);
}
p{
	font-size: 25px;
	padding: 5px 5px;
    color:rgb(80, 180, 173);
}

.widget {
	width: 70%;
	margin: 5px;
	border: 1px solid grey;
	padding: 10px;
	
	background-color: grey;
  }
  
  .content {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
  }
  
  .expand-btn {
	padding: 10px;
	background-color: grey;
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
  }
  
  .expand-btn:hover {
	background-color: grey;
  }

  .secc2{
	display: flex;;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .secc2 div button{
	display: flex;;
	flex-direction: column;
	align-items: center;
	align-items: center;
	font-size: x-large;
  }

  .questions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

  }
  

  footer {
	background-color: rgb(80, 180, 173); /* Adjust background color as needed */
	padding: 20px;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between; /* Space between logo and company details */
	align-items: center; /* Align items vertically */
  }
  
  .footer-left {
	flex: 1; /* Takes available space but adjusts based on content */
  }
  
  .footer-logo {
	max-width: 100px; /* Adjust logo size */
  }
  
  .footer-right {
	text-align: right; /* Align text to the right side */
  }
  
  .footer-right p {
	margin: 5px 0; /* Adjust spacing between lines */
	font-size: 14px; /* Adjust font size */
	color: white;
  }
  
  .company-name {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px; /* Space between name and other details */
  }
  
  .secc3{
	/* padding-bottom: 50px;
	padding-top: 50px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 100px;
  }