.modal-image {
	border-radius: 50% !important;
}
.modal-title {
	padding: 0 !important;
}
@media (max-width: 992px) {
	.modal-image {
		scale: 0.85 !important;
	}
	.modal-body-text {
		font-size: smaller !important;
	}
}
.modal-body-text {
	text-align: center !important;
}
.modal-title {
	color: black !important;
}
.modal-body {
	font-weight: 500;
}
