<% layout("/layouts/boilerPlateNew.ejs") -%>
<link rel="stylesheet" href="/ErrorPage/Error.css" />
<div class="row">
	<div class="alert alert-danger col-6 offset-3" role="alert">
		<p>Error : <%= message %></p>
		<div class="Error-btn-statuscode-div">
			<span class="statusCode-msg">Status code : <%= statusCode %></span>
			<a href="/dashboard" class="btn btn-outline-dark ms-5">Home</a>
		</div>
	</div>
</div>
