.f-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	color: #dee2e6;
	/* flex-wrap: wrap; */
	align-items: center;
	padding-top: 0.25rem;
	border-top: 0.01rem #dee2e6 solid;
	font-size: 1.1rem;
	padding-bottom: 1rem;
	position: relative;
	left: 0.75rem;
	/* background-color: rgba(255, 255, 255, 0.7); Semi-transparent white */
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	backdrop-filter: blur(10px); /* Adds the glass blur effect */
	background: linear-gradient(
		rgba(255, 255, 255, 0.199),
		rgba(255, 255, 255, 0.044)
	);
}

.f-info-name {
	display: flex;
	justify-content: center;
	color:blue;
}
.f-info-links {
	display: flex;
	justify-content: center;
}

.f-info-socialMedia {
	/* width: 10%; */
	font-size: 1.2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.f-info-socialMedia a i {
	margin-left: 1rem;
	color: blue;
}
.f-info-socialMedia a {
	text-decoration: none;
}
@media (max-width: 768px) {
	.f-info-socialMedia {
		margin-top: 0.35rem !important;
		margin-bottom: 0.5rem;
	}
	.f-info {
		justify-content: center;
		line-height: 1.5rem;
	}
}
