.modal-image {
	border-radius: 50%;
}
@media (max-width: 992px) {
	.modal-image {
		scale: 0.85;
	}
	.modal-body-text {
		font-size: smaller;
	}
}
.delete-modal-heading {
	display: inline-block;
}
.modal-body-text {
	text-align: center;
}
