.navbar {
	margin-bottom: 2rem;
	text-align: center;
}
.navbar-brand h2 {
	font-size: 2.5rem !important;
	color: #007bff;
	padding: 0.1rem 2rem;
}
.navbar-nav {
	font-size: 1.2rem;
	position: relative;
	top: 0.25rem;
}
.navbar-toggler {
	border: solid 1px black;
}

.border-bottom {
	border-bottom-width: 0.1rem !important;
}
